<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Tayler Evan Johnson</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap" rel="stylesheet">    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
  </head>
  <body style="margin: 0; font-family: 'Roboto Condensed', sans-serif;">
    <nav class="navbar fixed-top navbar-expand-lg">
      <a class="navbar-brand" href="#">TAYLER EVAN JOHNSON</a>
      <button class="navbar-toggler" type="button">
        <i class="fas fa-bars" style=" color: red;"></i>
      </button>      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#" style="margin-left: 8rem;">ABOUT 
          <a class="nav-item nav-link" href="#" style="margin-left: 9rem; position: fixed; right: 30%; transform: translate(-30%);"></a>
        </div>
      </div>
    </nav>
    <div class="container-fluid" style="position: absolute; top: 0; z-index: -1;">
      <div class="row d-flex">
        <div class="col-lg-6 col-sm-12 filmmaker">
          <br><br><br><h1>Filmmaker</h1>
          <br><br>
          <img src="https://static1.squarespace.com/static/583f47ca9f7456f249b6f49f/583f4c3129687f770a54981e/5ccfbd4b7395d800012d17cb/1558589988588/Screen+Shot+2019-02-20+at+11.11.37+PM.png?format=750w" alt="">
          <!-- <iframe allow="autoplay; fullscreen" allowfullscreen="" src="https://player.vimeo.com/video/334084584?app_id=122963&amp;wmode=opaque" width="100%" frameborder="0" title="HUMAN CONDITION Trailer - Short Film" height="240"></iframe> -->
          <h2>HUMAN CONDITION</h2>
          <p> 
            In a future where humans and AI’s live amongst each other, people have adopted a humanistic, back-to-nature ideology. Over the course of a dinner party, we follow a fair skinned AI grapple with her perception of these threats, a growing paranoia, and the concept of power in this new cultural landscape.
            <br><br>Written, Directed, Produced by Tayler Evan Johnson
            <br>2019 / 11 min / USA / English
          </p>
          <br><br>
          <img src="https://static1.squarespace.com/static/583f47ca9f7456f249b6f49f/583f4c3129687f770a54981e/5c6d93ae1905f4e35edb9d6b/1557118935768/?format=750w" alt="">
          <h2>BRAZIL BRAZIL</h2>
          <p> 
            When and where do you feel most yourself? In what spaces can you simply be? A travel portrait on lineage, identity and flesh, as a black American woman abroad.            
            <br><br>Written & Directed by Tayler Evan Johnson
            <br>2019 / 8 min / Brazil / English
          </p>
          <br><br>
          <img src="https://static1.squarespace.com/static/583f47ca9f7456f249b6f49f/583f4c3129687f770a54981e/5c687c251905f44fe477c824/1557118935785/Screen+Shot+2019-02-16+at+1.17.00+PM.png?format=750w" alt="">
          <h2>UNTITLED DANCER</h2>
          <p> 
            Directed by Joshua Traywick
            <br><br>Edited by Tayler Evan Johnson
            <br>2018 / 4 min / USA / English
          </p>
          <br><br>
          <img src="https://static1.squarespace.com/static/583f47ca9f7456f249b6f49f/583f4c3129687f770a54981e/5a10769c53450af6e5b0c55e/1557118935787/Screen+Shot+2019-02-16+at+11.24.31+AM.png?format=750w" alt="">
          <h2>POPPY</h2>
          <p> 
            A lo-fi, docu-short portrait about first love, first heartbreak - and crying in a poppy field about it.
            <br><br>Directed by Tayler Evan Johnson
            <br>2017 / 5 min / USA / English
          </p>
          <br><br>
          <img src="https://static1.squarespace.com/static/583f47ca9f7456f249b6f49f/583f4c3129687f770a54981e/5bbc5538a4222f1603fb131e/1557118936292/DSC_1223.jpg?format=750w" alt="">
          <h2>ANGELA IN AMSTERDAM</h2>
          <p> 
            A short memory capsule of a man’s trip to Amsterdam with a past-future-imagined love.
            <br><br>Directed by Tayler Evan Johnson
            <br>2017 / 5 min / USA / English
          </p>
          <br><br>
          <img src="https://static1.squarespace.com/static/583f47ca9f7456f249b6f49f/583f4c3129687f770a54981e/5bbc542ea4222f1603fb0c2d/1557118936312/Screen+Shot+2018-10-09+at+12.06.32+AM.png?format=750w" alt="">
          <h2>HE'D BE KING</h2>
          <p> 
            As Dash takes Fagun on a date throughout Los Angeles, he charms her, challenges her, and desperately tries to conceal the fact that he is homeless.
            <br><br>Directed by Michael Vlamis & Stephen Mastrocola
            <br>Produced by Tayler Evan Johnson
            <br>2017 / 5 min / USA / English
          </p>
        </div>
        <div class="col-lg-6 col-sm-12 developer">
          <br><br><br><h1>Developer</h1>
          <br><br>
          <img src="https://images.squarespace-cdn.com/content/v1/583f47ca9f7456f249b6f49f/1571994739053-0S80V5AP6VSCVKDE9R53/ke17ZwdGBToddI8pDm48kKO0sAKf9spPH9QAzN8wWuxZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpySRCDHVmsq7f7Pivs1iQoUjelzqt3a88HHnkd2xxcT1J9l2P-x9xdgl-_onkYSHZ8/rlopteaser.gif" alt="" >
          <h2>reLifeofPablo </h2>
          <p>
              https://www.relifeofpablo.com/ (Beta) 
              <br>The best Kanye interactive web app of all time … Follow @reLifeofPablo on IG.
              <br><br>
              Javascript, Three JS, WebGL, HTML, CSS
              <br>(built in 1 week)
              <br>https://github.com/johnsontayler/reLifeofPablo
              <br>• When I found out about the Three JS 3D library, naturally I thought of Kanye West.
              <br>• Having so much fun building out this world, listening to The Life of Pablo on repeat, and thinking of what interactive elements I can keep adding.
          </p>
          <br><br>
          <img src="https://images.squarespace-cdn.com/content/v1/583f47ca9f7456f249b6f49f/1571282995936-Z47T9D1VT3C88DVIMAME/ke17ZwdGBToddI8pDm48kJV1xzub3Mv7ryjqIYnrM6MUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8GRo6ASst2s6pLvNAu_PZdJ2sioZVOoaMvpFPoJKK8SGP4WCvaCD5AEuyk7TfKOKqk8sB3h3Ja5h2jZpFYoqad0/ezgif.com-video-to-gif+%285%29.gif?format=750w" alt="">
          <h2>PickandWatch </h2>
          <p>
              https://www.pickandwatch.store/
              <br>A mobile-first web app that allows users to share film ratings, and pick and watch a movie quickly based on their friends' recommendations.
              <br><br>
              Ruby/Rails, Javascript, HTML, CSS, Bootstrap
              <br>(built in 2 weeks)
              <br>https://github.com/johnsontayler/pickandwatch
              <br>• Co-developed a dynamic, mobile first web application that allows users to share film ratings, and pick and watch a movie quickly based on their friends' recommendations.
              <br>• Learned mobile first development, how to add dynamic behavior to your website with Javascript, and best collaboration practices in an Agile development workflow.
              <br> • Challenges included making API search calls to IMDb, efficiently storing movies in our database, implementing a movie shuffle algorithm based on a user's friends ratings, and creating a good UX experience.
          </p>
          <br><br>
          <img src="https://images.squarespace-cdn.com/content/v1/583f47ca9f7456f249b6f49f/1570974324533-KU63LD704MJM0OCX8XDE/ke17ZwdGBToddI8pDm48kGLY61T08ethLcbkRiYtnL97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0n3CS-u1ZtVpo9B_BUhYL570XG_uMpMUGyWqYBlQGpqhtlosy7tqsq3lvzfDL0tXLg/Screen+Shot+2019-10-11+at+9.30.09+PM.png?format=1500w" alt="">
          <h2>COOKOO</h2>
          <p>
              A platform for users to book home cooked meals from local chefs.
              <br><br>
              Ruby/Rails, Javascript, HTML, CSS, Bootstrap
              <br>(built in 1 week)
              <br>https://github.com/DocteurJo/cookoo
              <br>• The first web application I co-developed with a team. It's a platform for users to book home cooked meals from local chefs.
              <br>• Learned mobile first development, how to add dynamic behavior to your website with Javascript, and best collaboration practices in an Agile development workflow.
              <br> • Challenges included making API search calls to IMDb, efficiently storing movies in our database, implementing a movie shuffle algorithm based on a user's friends ratings, and creating a good UX experience.
          </p>
        </div>
      </div>
    </div>
    <div class="center-info" style="display: none;">
      LOS ANGELES / RIO DE JANEIRO <br>
      JOHNSONTAYLER@ME.COM
      <div class="d-flex justify-content-around">
        <a href="https://instagram.com/tayler_made/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/johnsontayler" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.facebook.com/johnsontayler" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.linkedin.com/in/tayler-johnson-81107768/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </body>
  <footer class="fixed-bottom" id="footerCustom">
    <div class="d-flex d-flex justify-content-between">
      <a href="">FILM INDEX</a>
      <a href="">CONTACT</a>
      <a href="">DEVELOPER INDEX</a>
    </div>
  </footer>
</html>